<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 	<h2>Team Name: <%= @params[0] %></h2>
	<p>Coach: <%= @params[1] %></p>
	<p>Point Guard: <%= @params[2] %></p>
	<p>Shooting Guard: <%= @params[3] %></p>
	<p>Power Forward: <%= @params[4] %></p>
	<p>Small Forward: <%= @params[5] %></p>
	<p>Center: <%= @params[6] %></p>
 </body>
</html>


