<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  
  <h1>Team Name: <%= @form_hash["name"] %></h1>
    <h2>Coach:  <%= @form_hash["coach"] %></h2>
    <h2>Point Guard:  <%= @form_hash["pg"] %></h2>
    <h2>Shooting Guard:  <%= @form_hash["sg"] %></h2>
    <h2>Power Forward:  <%= @form_hash["pf"] %></h2>
    <h2>Small Forward:  <%= @form_hash["sf"] %></h2>
    <h2>Center:  <%= @form_hash["c"] %></h2>

 </body>
</html>


