<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Team name</title>
 </head>
 <body>
  <!--<h1>Team Name: <%= "#{@name}" %></h1> -->  #space after=
  <!--<h2>Coach: <%= "#{@coach}" %></h2>  -->       #space after=
   <!--<h2>Point Guard: <%="#{@pg}"%></h2> -->      #space after=
    <!--<h2>Shooting Guard: <%="#{@sg}"%></h2>-->   #space after=
     <!--<h2>Small Forward: <%= "#{@sf}"%></h2> --> #space after=
      <!--<h2>Power Forward: <%= "#{@pf}"%></h2>--> #space after=
       <!-- <h2>Center: <%= "#{@c}"%></h2>   -->    
   
     <h1>Top 5 rappers!!!</h1>
     <h2>First: <%= "#{@first}"%> </h2>
     <h2>Second: <%= "#{@second}"%> </h2>
     <h2>Third: <%= "#{@third}"%> </h2>
     <h2>Forth: <%= "#{@forth}"%> </h2>
     <h2>Fifth: <%= "#{@fifth}"%> </h2>
   
 </body>
</html>


