<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
			
	<h1>Team Name: <%= @data[:name] %></h1>
	<h2>Coach: <%= @data[:coach] %></h2>
	<h2>Point Guard: <%= @data[:pg] %></h2>
	<h2>Shooting Guard: <%= @data[:sg] %></h2>
	<h2>Power Forward: <%= @data[:pf] %></h2>
	<h2>Small Forward: <%= @data[:sf] %></h2>
	<h2>Center: <%= @data[:c] %></h2>

 </body>
</html>


