<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%=@name%></h1>
   <h1>Coach: <%=@coach%></h1>
   <h1>Point Guard: <%=@pg%></h1>
   <h1>Shooting Guard: <%=@sg%></h1>
   <h1>Power Forward: <%=@pf%></h1>
   <h1>Small Forward: <%=@sf%></h1>
   <h1>Center: <%=@c%></h1>
  </body>
</html>
