<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <form method="POST" action="/team">

   <h1><%= @name %></h1>
   <p><%= @coach %></p>
   <p><%= @pg %></p>
   <p><%= @sg %></p>
   <p><%= @sf %></p>
   <p><%= @pf %></p>
   <p><%= @c %></p>



 </body>
</html>
