<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h1>Basketball Team! </h1>
 <p> Team Name: <%= @name %></p>
  Coach: <%= @coach %>
  Point Guard: <%=@pg %>
  Power Forward: <%=@pf %>
  Shooting Guard: <%=@sg %>
  Small Forward: <%=@sf %>
  Center: <%=@c %>


 </body>
</html>


