<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1> Team Name: <%=@name %></h1>
   <h4> Coach: <%= @coach %></h4>
   <h4> Point Guard: <%= @pg %></h4>
   <h4> Shooting Guard: <%= @sg %></h4>
   <h4> Small Forward: <%= @sf %></h4>
   <h4> Power Forward: <%= @pf %></h4>
   <h4> Center: <%= @c %></h4>


 </body>
</html>
