<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <h1>Team Name: <%= params[:name] %>
  <h2>Coach: <%= params[:coach] %>
  <h2>Point Guard: <%= params[:pg] %>
  <h2>Shooting Guard: <%= params[:sg] %>
  <h2>Small Forward: <%= params[:sf] %>
  <h2>Power Forward: <%= params[:pf] %>
  <h2>Center: <%= params[:c] %>
 </body>
</html>
