<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <p><%= @team_info.to_s %></p>
   <h1>Team Name: <%= @team_info[0] %></h1>
   <h2>Coach: <%= @team_info[1] %></h2>
   <h2>Point Guard: <%= @team_info[2] %></h2>
   <h2>Shooting Guard: <%= @team_info[3] %></h2>
   <h2>Small Forward: <%= @team_info[4] %></h2>
   <h2>Power Forward: <%= @team_info[5] %></h2>
   <h2>Center: <%= @team_info[6] %></h2>
 </body>
</html>
