<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   Team Name: <%= @team_name %>
   Coach: <%= @coach %>
   Point Guard: <%= @pg %>
   Shooting Guard: <%= @sg %>
   Power Forward: <%= @pf  %>
   Strong Foward: <%= @sf %>
   Center: <%= @c %>



 </body>
</html>
