<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 
   <h2>
     Team Name: <%= @name %><br>
     Coach: <%= @coach %><br>
     Point Guard: <%= @pg %><br>
     Shooting Guard: <%= @sg %><br>
     Power Forward: <%= @pf %><br>
     Shooting Forward: <%= @sf %><br>
     Center: <%= @c %><br>
   </h2>
   <input type="submit">

 </body>
</html>


