<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <h1><p>Team Name: <%= @team_name %></p></h1>
  <h2><p>Coach: <%= @coach %></p></h2>
  <h2><p>Point Guard: <%= @point_guard %></p></h2>
  <h2><p>Shooting Guard: <%= @shooting_guard %></p></h2>
  <h2><p>Small Forward: <%= @small_forward %></p></h2>
  <h2><p>Power Forward: <%= @power_forward %></p></h2>
  <h2><p>Center: <%= @center %></p></h2>
 </body>
</html>


