<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <p>Team Name: <%= @name %>
   <p>Coach: <%= @coach %>
   <p>Point Guard: <%= @pg %>
   <p>Shooting Guard: <%= @sg %>
   <p>Power Forward: <%= @pf %>
   <p>Small Forward: <%= @sf %>
   <p>Center: <%= @c %>

 </body>
</html>
