<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%= @team_name %></h1>
   <h4>Coach: <%= @coach %></h4>
   <h4>Point Guard: <%= @point_guard %></h4>
   <h4>Shooting Guard: <%= @shooting_guard %></h4>
   <h4>Small Forward: <%= @small_forward %></h4>
   <h4>Power Forward: <%=@power_forward %></h4>
   <h4>Center: <%= @center %></h4>
 </body>
</html>
