<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h1>Team Name: <%= "#{params[:name]}" %></h1>
 Coach: <%= "#{params[:coach]}" %></h1><br>
 Point Guard: <%= "#{params[:pg]}" %></h1><br>
 Shooting Guard: <%= "#{params[:sg]}" %></h1><br>
 Power Forward: <%= "#{params[:pf]}" %></h1><br>
 Small Forward: <%= "#{params[:sf]}" %></h1><br>
 Center: <%= "#{params[:c]}" %></h1><br>

 </body>
</html>
