<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
     Team Name:
    <%= @team_name %>
     Coach:
    <%= @coach %>
     Point Guard:
    <%= @point_guard %>
     Shooting Guard:
    <%= @shooting_guard %>
     Small Forward:
    <%= @small_forward %>
     Power Forward:
    <%= @power_forward %>
     Center:
    <%= @center %>
 </body>
</html>


