<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
     <h1><b>Team Name: <%= @name %></b></h1>
     <h2><b>Coach: <%= @coach %></b></h2>
     <h2><b>Point Guard: <%= @point_guard %></b></h2>
     <h2><b>Shooting Guard: <%= @shooting_guard %></b></h2>
     <h2><b>Small Forward: <%= @small_forward %></b></h2>
     <h2><b>Power Forward: <%= @power_forward %></b></h2>
     <h2><b>Center: <%= @center %></b></h2>

 </body>
</html>


