<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    Team Name: <%= @name %> <br>
    Coach: <%= @coach %> <br>
    Point Guard: <%=@pg %> <br>
    Shooting Guard: <%=@sg %> <br>
    Small Forward: <%=@sf %> <br>
    Power Forward: <%=@pf %> <br>
    Center: <%=@c %> <br>
 </body>
</html>
