<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>Team Name: <%= @name%></h1>
    <h2>Coach: <%= @coach%></h3>
    <h2>Point Guard: <%= @pg%></h3>
    <h2>Shooting Guard: <%= @sg%></h3>
    <h2>Small Forward: <%= @sf%></h3>
    <h2>Power Forward: <%= @pf%></h3>
    <h2>Center: <%= @c%></h3>
 </body>
</html>