<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Your Team Name: <%="#{@team_name}"%></h1>
   <p>Coach: <%="#{@team_players[0]}"%></p>
   <p>Point Guard: <%="#{@team_players[1]}"%></p>
   <p>Shooting Guard: <%="#{@team_players[2]}"%></p>
   <p>Small Forward: <%="#{@team_players[3]}"%></p>
   <p>Power Forward: <%="#{@team_players[4]}"%></p>
   <p>Center: <%="#{@team_players[5]}"%></p>
 </body>
</html>
