<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

 <h2>Team Name: <%= @Team_name %></h2>
 <h2>Coach: <%= @Coach %></h2>
 <h2>Point Guard: <%= @Point_Guard %></h2>
 <h2>Shooting Guard: <%=@Shooting_Guard %></h2>
 <h2>Small Forward: <%= @Small_Forward %></h2>
 <h2>Power Forward: <%= @Power_Forward %></h2>
 <h2>Center: <%= @Center %></h2>

 </body>
</html>


