<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
#    <form method="POST" action="/team">
#      <h1>Team Name:<%= @name %></h1>
#      <p>Coach:<%= %></p>
#      <p>Point Guard:<%= %></p>
#      <p>Shooting Guard:<%= %></p>
#      <p>Small Forward:<%= %></p>
#      <p>Power Forward:<%= %></p>
#      <p>Center:<%= %></p>
#    </form>
 </body>
</html>


