<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%= params[:name] %></h1>
   <h3>Coach: <%= params[:coach] %></h3>
   <h3>Point Guard: <%= params[:pg] %></h3>
   <h3>Shooting Guard: <%= params[:sg] %></h3>
   <h3>Small Forward: <%= params[:sf] %></h3>
   <h3>Power Forward: <%= params[:pf] %></h3>
   <h3>Center: <%= params[:c] %></h3>

 </body>
</html>
