<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

<h1>Team Name: <%=@teams[:name]%></h1>
<h2>Coach: <%=@teams[:coach]%></h2>
<h2>Point Guard: <%=@teams[:pg]%></h2>
<h2>Shooting Guard: <%=@teams[:sg]%></h2>
<h2>Small Forward: <%=@teams[:sf]%></h2>
<h2>Power Forward: <%=@teams[:pf]%></h2>
<h2>Center: <%=@teams[:c]%></h2>
 
 </body>
</html>
