<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>
     <h1><%= "Team Name: #{@team_inputs[:name]}" %></h1>
     <h2><%= "Coach: #{@team_inputs[:coach]}" %></h2>
     <h2><%= "Point Guard: #{@team_inputs[:pg]}" %></h2>
     <h2><%= "Shooting Guard: #{@team_inputs[:sg]}" %></h2>
     <h2><%= "Small Forward: #{@team_inputs[:sf]}" %></h2>
     <h2><%= "Power Forward: #{@team_inputs[:pf]}" %></h2>
     <h2><%= "Center: #{@team_inputs[:c]}" %></h2>
 </body>
</html>
