<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1><%= "Team Name: " + @input["name"]%></h1>
   <h2><%= "Coach: " + @input["coach"]%></h2>
   <h2><%= "Point Guard: " + @input["pg"]%></h2>
   <h2><%= "Shooting Guard: " + @input["sg"]%></h2>
   <h2><%= "Small Forward: " + @input["sf"]%></h2>
   <h2><%= "Power Forward: " + @input["pf"]%></h2>
   <h2><%= "Center: " + @input["c"]%></h2>
 </body>
</html>
