<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Team Name: <%= @name %></title>
  </head>
  <body>
    <p>Team Name: </p><%= @name  %>

    <p>Coach: </p> <%= @coach %>

    <p>Point Guard: </p><%= @pg %>

    <p>Shooting Guard: </p><%= @sg %>

    <p>Small Forward: </p><%= @sf %>

    <p>Power Forward: </p><%= @pf %>

    <p>Center: </p><%= @c %>
  </body>
</html>
