<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h1>Basketball Team!</h1>
 <h2>
 Team Name: <%= @name %><br>
 Coach: <%= @coach %><br>
 Point Guard: <%= @pg %><br>
 Power Forward: <%= @pf %><br>
 Shooting Guard: <%= @sg %><br>
 Small Forward: <%= @sf %><br>
 Center: <%= @c %>
</h2>
 </body>
</html>
