<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <%= "Team Name: #{params[:name]}\n" %>
 <%= "Coach: #{params[:coach]}\n" %>
 <%= "Point Guard: #{params[:pg]}\n" %>
 <%= "Shooting Guard: #{params[:sg]}\n" %>
 <%= "Small Forward: #{params[:sf]}\n" %>
 <%= "Power Forward: #{params[:pf]}\n" %>
 <%= "Center: #{params[:c]}" %>

 </body>
</html>
