<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%= @form_data["name"] %></h1>
   <h2>Coach: <%= @form_data["coach"] %></h2>
   <h2>Point Guard: <%= @form_data["pg"] %></h2>
   <h2>Shooting Guard: <%= @form_data["sg"] %></h2>
   <h2>Small Forward: <%= @form_data["sf"] %></h2>
   <h2>Power Forward: <%= @form_data["pf"] %></h2>
   <h2>Center: <%= @form_data["c"] %></h2>
 </body>
</html>
