<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%= @name%></h1>
   <h3>Coach: <%= @coach%></h3>
   <h3>Point Guard: <%= @pg%></h3>
   <h3>Shooting Guard: <%= @sg%></h3>
   <h3>Small Forward: <%= @sf%></h3>
   <h3>Power Forward: <%= @pf%></h3>
   <h3>Center: <%= @c%></h3>
   
 </body>
</html>


