<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <h1>Basketball Team</h1>
 </head>
 <body>
   <h2>Team Name: <%="#{@team["name"]}" %></h2>
   <h3>Coach: <%="#{@team["coach"]}"%></h3>
   <h3>Point Guard: <%="#{@team["pg"]}"%></h3>
   <h3>Power Forward: <%="#{@team["pf"]}"%></h3>
   <h3>Shooting Guard: <%="#{@team["sg"]}"%></h3>
   <h3>Center: <%="#{@team["c"]}"%></h3>
 </body>
</html>
