<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   Team Name: <%= params['name'] %></br>
   Coach: <%= params['coach'] %></br>
   Point Guard: <%= params['pg'] %></br>
   Shooting Guard: <%= params['sg'] %></br>
   Small Forward: <%= params['sf'] %></br>
   Power Forward: <%= params['pf'] %></br>
   Center: <%= params['c'] %></br>


 </body>
</html>
