<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>Team Name: <%= @team_data[:name]%></h1>
    <h2>Coach: <%= @team_data[:coach] %></h2>
    <h2>Point Guard: <%= @team_data[:pg] %></h2>
    <h2>Shooting Guard: <%= @team_data[:sg] %></h2>
    <h2>Small Forward: <%= @team_data[:sf] %></h2>
    <h2>Power Forward: <%= @team_data[:pf] %></h2>
    <h2>Center: <%= @team_data[:c] %></h2>
 </body>
</html>


