<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%= @name %></h1>
     <h2>Coach: <%= @coach %><br></br>
         Point Guard: <%= @pg %><br></br>
         Shooting Guard: <%= @sg %><br></br>
         Small Forward: <%= @sf %><br></br>
         Power Forward: <%= @pf %><br></br>
         Center: <%= @c %>
     </h2>
 </body>
</html>
