<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

    <h1>Team Name: <%= @team_details[:name] %></h1>
    <h2>Coach: <%= @team_details[:coach] %></h2>
    <h2>Point Guard: <%= @team_details[:pg] %></h2>
    <h2>Shooting Guard: <%= @team_details[:sg] %></h2>
    <h2>Small Forward: <%= @team_details[:sf] %></h2>
    <h2>Power Forward: <%= @team_details[:pf] %></h2>
    <h2>Center: <%= @team_details[:c] %></h2>

 </body>
</html>
