
<!DOCTYPE html>
 <h1>Basketball Team! </h1>
  Team Name: <%= @name %>
  Coach: <%= @coach %>
  Point Guard: <%=@pg %>
  Power Forward: <%=@pf %>
  Shooting Guard: <%=@sg %>
  Small Forward: <%=@sf %>
  Center: <%=@c %>
