<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1><%= @name%></h1>
   <h2><%= @coach%></h2>
   <h3><%= @pg%></h3>
   <h4><%= @sg%></h4>
   <h5><%= @pf%></h5>
   <h6><%= @sf%></h6>
   <h7><%= @c%></h7>


 </body>
</html>
