<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

  <h1>Team Name: <%= @basketball_team[:name] %></h1>
  <p>Coach: <%= @basketball_team[:coach] %></p>
  <p>Point Guard: <%= @basketball_team[:pg] %></p>
  <p>Shooting Guard: <%= @basketball_team[:sg] %></p>
  <p>Small Forward: <%= @basketball_team[:sf] %></p>
  <p>Power Forward: <%= @basketball_team[:pf] %></p>
  <p>Center: <%= @basketball_team[:c] %></p>

 </body>
</html>


