<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>Team Name: <%="#{@team_name}"%></h1>
    <h2>Coach: <%="#{@team_peeps[0]}"%></h2>
    <h2>Point Guard: <%="#{@team_peeps[1]}"%></h2>
    <h2>Shooting Guard: <%="#{@team_peeps[2]}"%></h2>
    <h2>Small Forward: <%="#{@team_peeps[3]}"%></h2>
    <h2>Power Forward: <%="#{@team_peeps[4]}"%></h2>
    <h2>Center: <%="#{@team_peeps[5]}"%></h2>
 


 </body>
</html>


