<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Your Team</h1>
    Team Name: <%= params[:name] %>
    Coach: <%= params[:coach] %>
    Point Guard: <%= params[:pg] %>
    Shooting Guard: <%= params[:sg] %>
    Small Forward: <%= params[:sf] %>
    Power Forward: <%= params[:pf] %>
    Center: <%= params[:c] %>
 </body>
</html>
