<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   
   
   <p><h1>Team Name: <%= @team_name %></h1></p>
   <p><h2>Coach: <%= @coach %></h2></p>
   <p><h2>Point Guard: <%= @point_guard %></h2></p>
   <p><h2>Shooting Guard: <%= @shooting_guard %></h2></p>
   <p><h2>Small Forward: <%= @small_forward %></h2></p>
   <p><h2>Power Forward: <%= @power_forward %></h2></p>
   <p><h2>Center: <%= @center %></h2></p>
   
   


 </body>
</html>


