<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%= @team[0] %></h1>
   <h1>Coach: <%= @team[1] %></h1>
   <h1>Point Guard: <%= @team[2] %></h1>
   <h1>Small Forward: <%= @team[5] %></h1>
   <h1>Power Forward: <%= @team[4] %></h1>
   <h1>Shooting Guard: <%= @team[3] %></h1>
   <h1>Center: <%= @team[6] %></h1>
 </body>
</html>


