<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>Basketball Team</title>
 </head>

 <body>

   <p>
  <!-- @Team name: <%=@name%>
  @Coach: <%=@coach%>
  @Point Guard:<%=@pg%>
  @Shooting Guard:<%=@sg%>
  @Power Forward:<%=pf%>
  @Small Forwar<%=sf%>
  @Center:<%=c%> -->


  <%=
  Team name: @name
  @Coach: @coach
  @Point Guard:@pg
  @Shooting Guard:@sg
  @Power Forward:pf
  @Small Forwarsf
  @Center:c
  %>

  </p>

  </body>

</html>
