<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

    <h1>Team Name: <%= @new_team[:name] %> </h1>
    <h3>Coach: <%= @new_team[:coach] %> </h3>
    <h3>Point Guard: <%= @new_team[:pg] %> </h3>
    <h3>Shooting Guard: <%= @new_team[:sg] %> </h3>
    <h3>Small Forward: <%= @new_team[:sf] %> </h3>
    <h3>Power Forward: <%= @new_team[:pf] %> </h3>
    <h3>Center: <%= @new_team[:c] %> </h3>

 </body>
</html>
