<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1> Team Name: <%= @name_display %></h1>
   <h2> Coach: <%= @coach_display %></h2>
   <h2> Point Guard: <%= @pointguard_display %></h2>
   <h2> Shooting Guard: <%= @shootinguard_display %></h2>
   <h2> Small Forward: <%= @smallforwad_display %></h2>
   <h2> Power Forward: <%= @powerforward_display %></h2>
   <h2> Center: <%= @center_display %></h2>

 </body>
</html>
