<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 	<H1>Team Name: <%=params[:name]%></H1>
 	<br>
 	Coach: <%=params[:coach]%>
 	<br>
 	Point Guard: <%=params[:pg]%>
 	<br>
 	Shooting Guard: <%=params[:sg]%>
 	<br>
 	Power Forward: <%=params[:pf]%>
 	<br>
 	Small Forward: <%=params[:sf]%>
 	<br>	
 	Center: <%=params[:c]%>
 </body>
</html>


