<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%= params["name"]%><br/></h1>
   <h2>
    Coach: <%= params["coach"]%><br/>
    Point Guard: <%= params["pg"]%><br/>
    Shooting Guard: <%= params["sg"]%><br/>
    Small Forward: <%= params["sf"]%><br/>
    Power Forward: <%= params["pf"]%><br/>
    Center: <%= params["c"]%><br/>
  </h2>
 </body>
</html>
