<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1><%= "Team Name: #{@parameters[:name]}"%></h1>
   <h2><%= "Coach: #{@parameters[:coach]}"%></h2>
   <h2><%= "Point Guard: #{@parameters[:pg]}"%></h2>
   <h2><%= "Shooting Guard: #{@parameters[:sg]}"%></h2>
   <h2><%= "Power Forward: #{@parameters[:pf]}"%></h2>
   <h2><%= "Small Forward: #{@parameters[:sf]}"%></h2>
   <h2><%= "Center: #{@parameters[:c]}"%></h2>
   
 </body>
</html>

