<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1 id="name">Team Name: <%= params[:team_name] %></h1>
   <h2 id="coach">Coach: <%= params[:coach] %></h2>
   <h2 id="pg">Point Guard: <%= params[:point_guard] %></h2>
   <h2 id="sg">Shooting Guard: <%= params[:shooting_guard] %></h2>
   <h2 id="sf">Small Forward: <%= params[:small_forward] %></h2>
   <h2 id="pf">Power Forward: <%= params[:power_forward] %></h2>
   <h2 id="c">Center: <%= params[:center] %></h2>
 </body>
</html>
