<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  
    <h3>Team Name:     <%= @team_info["name"] %> </h3>
  	<h3>Coach:          <%= @team_info["coach"] %></h3>
  	<h3>Point Guard:    <%= @team_info["pg"] %> </h3>
  	<h3>Shooting Guard: <%= @team_info["sg"] %> </h3>
  	<h3>Small Forward:  <%= @team_info["sf"] %> </h3>
  	<h3>Power Forward:  <%= @team_info["pf"] %> </h3>
  	<h3>Center:         <%= @team_info["c"] %> </h3>
 </body>
</html>


