<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

 <h1><p>Team Name: <%= params[:name] %></h1></p>
 <h2><p>Coach: <%= params[:coach] %></h2></p>
 <h2><p>Point Guard: <%= params[:pg] %></h2></p>
 <h2><p>Shooting Guard: <%= params[:sg] %></h2></p>
 <h2><p>Small Forward: <%= params[:sf] %></h2></p>
 <h2><p>Power Forward: <%= params[:pf] %></h2></p>
 <h2><p>Center: <%= params[:c] %></h2></p>



 </body>
</html>
