<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1> Team Name: <%= @team_members['name'] %> </h1>
   <h2> Coach: <%= @team_members['coach'] %> </h2>
   <h2> Point Guard: <%= @team_members['pg'] %> </h2>
   <h2> Shooting Guard: <%= @team_members['sg'] %> </h2>
   <h2> Power Forward: <%= @team_members['pf'] %> </h2>
   <h2> Small Forward: <%= @team_members['sf'] %> </h2>
   <h2> Center: <%= @team_members['c'] %> </h2>


 </body>
</html>
