<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%= @team_name %></h1>

   <h3>Coach: <%= @coach %></h3>
   <h3>Point Guard: <%= @p_guard %></h3>
   <h3>Shooting Guard: <%= @s_guard %></h3>
   <h3>Small Forward: <%= @s_forward %></h3>
   <h3>Power Forward: <%= @p_forward %></h3>
   <h3>Center: <%= @center %></h3>



 </body>
</html>
