<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Your Team's In It To Win It!</h1>
   <p>Team Name: <%= @name.capitalize %></p>
   <p>Coach: <%= @coach.capitalize%></p>
   <p>Point Guard: <%= @pg.capitalize%></p>
   <p>Shooting Guard: <%= @sg.capitalize%></p>
   <p>Small Forward: <%= @sf.capitalize%></p>
   <p>Power Forward: <%= @pf.capitalize%></p>
   <p>Center: <%= @c.capitalize%></p>
 </body>
</html>
