<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%= @team[:name].capitalize%></h1>
   <h2>Coach: <%= @team[:coach].capitalize%></h2>
   <h2>Point Guard: <%= @team[:pg].capitalize%></h2>
   <h2>Shooting Guard: <%= @team[:sg].capitalize%></h2>
   <h2>Small Forward: <%= @team[:sf].capitalize%></h2>
   <h2>Power Forward: <%= @team[:pf].capitalize%></h2>
   <h2>Center: <%= @team[:c].capitalize%></h2>
 </body>
</html>
