<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>


  <p><%= "Team Name: #{@new_team[0]}" %> </p>
  <p><%= "Coach: #{@new_team[1]}" %> </p>
  <p><%= "Point Guard: #{@new_team[2]}" %> </p>
  <p><%= "Shooting Guard: #{@new_team[3]}" %> </p>
  <p><%= "Small Forward: #{@new_team[4]}" %> </p>
  <p><%= "Power Forward: #{@new_team[5]}" %> </p>
  <p><%= "Center: #{@new_team[6]}" %> </p>


 </body>
</html>
