<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>


   <h2> Basketball Team! </h2>
    <p>Team Name: <%= @name %></p>
    <p>Coach: <%= @coach %></p>
    <p>Point Guard: <%= @pg %></p>
    <p>Shooting Guard: <%= @sg %></p>
    <p>Small Forward: <%= @sf %></p>
    <p>Power Forward: <%= @pf %></p>
    <p>Center: <%= @center %></p>
 </body>
</html>
