<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

     <p>Team Name: <%=@params["name"]%></p>
     <p>Coach: <%=@params["coach"]%></p>
     <p>Point Guard: <%=@params["pg"]%></p>
     <p>Shooting Guard: <%=@params["sg"]%></p>
     <p>Small Forward: <%=@params["sf"]%></p>
     <p>Power Forward: <%=@params["pf"]%></p>
     <p>Center: <%=@params["c"]%></p>


 </body>
</html>
