<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%= @team_parms["name"] %></h1>
     <h2>Coach: <%= @team_parms["coach"] %></h2>
     <h2>Point Guard: <%= @team_parms["pg"] %></h2>
     <h2>Shooting Guard: <%= @team_parms["sg"] %></h2>
     <h2>Small Forward: <%= @team_parms["sf"] %></h2>
     <h2>Power Forward: <%= @team_parms["pf"] %></h2>
     <h2>Center: <%= @team_parms["c"] %></h2>
   </body>
  </html>


 </body>
</html>
