<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Basketball Team!</h1>
   <ul>
     <li>Team Name: <%= @name %></li>
     <li>Coach: <%= @coach %></li>
     <li>Point Guard: <%= @point_guard %></li>
     <li>Shooting Guard: <%= @shooting_guard %></li>
     <li>Power Forward: <%= @power_forward %></li>
     <li>Small Forward: <%= @small_forwardf %></li>
     <li>Center: <%= @center %></li>
   </ul>
 </body>
</html>
