<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
		<h1>Team Name: <%= params[:name] %> </h1><br>
	  	<h2>Coach: <%= params[:coach] %> </h2><br>
	  	<h2>Point Guard: <%= params[:pg] %> </h2><br>
	  	<h2>Shooting Guard: <%= params[:sg] %> </h2><br>
	  	<h2>Power Forward: <%= params[:pf] %> </h2><br>
	  	<h2>Small Forward: <%= params[:sf] %> </h2><br>
	  	<h2>Center: <%= params[:c] %> </h2><br>
 </body>
</html>
