<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

  <h1>Basketball Team! </h1>
   Team Name: <%= @team_name %>
   Coach: <%= @coach %>
   Point Guard: <%=@point_guard %>
   Shooting Guard: <%=@shooting_guard %>
   Power Forward: <%=@power_forward %>
   Small Forward: <%=@shooting_foward %>
   Center: <%=@center %>

 </body>
</html>
