<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%= @team_info[:name] %></h1>
   <h2>Coach: <%= @team_info[:coach] %></h2>
   <h2>Point Guard: <%= @team_info[:pg] %></h2>
   <h2>Shooting Guard: <%= @team_info[:sg] %></h2>
   <h2>Small Forward: <%= @team_info[:sf] %></h2>
   <h2>Power Forward: <%= @team_info[:pf] %></h2>
   <h2>Center: <%= @team_info[:c] %></h2>
 </body>
</html>
