<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Basketball Team</title>
  </head>
  <body>
    <h1>Team Name: <%= @roster[0] %></h1>

    <h2>Coach: <%= @roster[1] %></h2>
    <h2>Point Guard: <%= @roster[2] %></h2>
    <h2>Shooting Guard: <%= @roster[3] %></h2>
    <h2>Small Forward: <%= @roster[4] %></h2>
    <h2>Power Forward: <%= @roster[5] %></h2>
    <h2>Center: <%= @roster[6] %></h2>
  </body>
</html>


