<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>Team Name: <%= @roster["name"]%></h1>
    <h2>Coach: <%= @roster["coach"]%></h2>
    <h2>Point Guard: <%= @roster["pg"]%></h2>
    <h2>Shooting Guard: <%= @roster["sg"]%></h2>
    <h2>Small Forward: <%= @roster["sf"]%></h2>
    <h2>Power Forward: <%= @roster["pf"]%></h2>
    <h2>Center: <%= @roster["c"]%></h2>
 </body>
</html>
