<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h1>Basketball Team! </h1>
  Team Name: <%= @data[:name] %>
  Coach: <%= @data[:coach] %>
  Point Guard: <%=@data[:pg]%>
  Power Forward: <%=@data[:pf]%>
  Shooting Guard: <%=@data[:sg]%>
  Small Forward: <%=@data[:sf]%>
  Center: <%=@data[:c]%>


 </body>
</html>
