<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <!-- <form method="POST" action="/food"> -->
    <p><h1>Team Name: <%= @name %></h1></p>
    <p><h2>Coach: <%= @coach %></h2></p>
    <p><h2>Point Guard: <%= @pg %></h2></p>
    <p><h2>Shooting Guard: <%= @sg %></h2></p>
    <p><h2>Small Forward: <%= @sf %><h2></p>
    <p><h2>Power Forward: <%= @pf %><h2></p>
    <p><h2>Center: <%= @c %><h2></p>
    <!-- <input id= "Submit" type="submit"> -->
   <!-- </form> -->
 </body>
</html>
