<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1><%= @TN %></h1> 
   <h2><%= @Coach %></h2>
   <h2><%= @PG %></h2>
   <h2><%= @SG %></h2>
   <h2><%= @PF %></h2>
   <h2><%= @SF %></h2>
   <h2><%= @C %></h2>

 </body>
</html>
