<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>Team Name: <%= params[:name] %></h1> #here is the team name the tests are looking for
    <h1>Coach: <%= params[:name] %></h1>
    <h1>Point Guard: <%= params[:name] %></h1>
    <h1>Shooting Guard: <%= params[:name] %></h1>
    <h1>Small Forward: <%= params[:name] %></h1>
    <h1>Power Forward: <%= params[:name] %></h1>
    <h1>Center: <%= params[:name] %></h1>
 </body>
</html>


