<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

<!-- The boring answer below-->

 Team Name: <%= params[:name] %>
 Coach: <%= params[:coach] %>
 Point Guard: <%=params[:pg] %>
 Power Forward: <%=params[:pf] %>
 Shooting Guard: <%=params[:sg] %>
 Small Forward: <%=params[:sf] %>
 Center: <%=params[:c] %>

<!-- The below solution is correct, however rspec was written to disregard the first conditional for some reason, so went with default solution above to make it happy-->

<%@number = 0%>
 <%params.each do |key, value|%>
  <% if @number == 0 %>
     <h1><%="#{@titles[@number]} #{value}"%></h1>
     <% @number += 1%>
   <% else %>
     <h2><%="#{@titles[@number]} #{value}"%></h2>
     <% @number += 1%>
  <%end%>
 <% end %>

 </body>
</html>


