<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%=@team_name%></h1>
   <h2>Coach: <%=@coach%></br>
       Point Guard:  <%=@pg %></br>
       Shooting Guard: <%=@sg%></br>
       Power Forward: <%=@pf%></br>
       Small Forward: <%=@sf%></br>
       Center: <%=@c%></br>

     </h2>



 </body>
</html>
