<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
     <h1>Team Name: <%= @name %></h1>
     <h2>Coach: <%= @coach %></h2>
     <h2>Point Guard: <%= @pointGuard %></h2>
     <h2>Shooting Guard: <%= @shootingGuard %></h2>
     <h2>Power Forward: <%= @powerForward %></h2>
     <h2>Small Forward: <%= @smallForward %></h2>
     <h2>Center: <%= @center %></h2>
 </body>
</html>
