<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  Team Name: <%= @team[:name] %>
  <br>
  Coach: <%= @team[:coach] %>
  <br>
  Point Guard: <%= @team[:pg] %>
  <br>
  Shooting Guard: <%= @team[:sg] %>
  <br>
  Power Forward: <%= @team[:pf] %>
  <br>
  Small Forward: <%= @team[:sf] %>
  <br>
  Center: <%= @team[:c] %>
 </body>
</html>


