<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <h1> Team Name: <%= @name %></h1>
   <ul style="list-style: none;">
     <li> Coach: <%= @coach %></li>
     <li> Point Guard: <%= @pg %></li>
     <li> Shooting Guard: <%= @sg %></li>
     <li> Small Forward: <%= @sf %></li>
     <li> Power Forward: <%= @pf %></li>
     <li> Center: <%= @c %></li>
   </ul>

 </body>
</html>
