<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%= @name %></h1>
   <h2>
     <p>Coach: <%= @name %></p>
     <p>Point Guard: <%= @name %></p>
     <p>Shooting Guard: <%= @name %></p>
     <p>Power Forward: <%= @name %></p>
     <p>Small Forward: <%= @name %></p>
     <p>Center: <%= @name %></p>
   </h2>

 </body>
</html>
