<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 	<h1>Basketball Team</h1>
 	<h1>Team Name: <%=@data["name"]%></h1>
 	<h1>Coach: <%=@data["coach"] %> </h1>
 	<h1>Point Guard: <%=@data["pg"] %> </h1>
 	<h1>Shooting Guard: <%=@data["sg"] %> </h1>
 	<h1>Small Forward: <%=@data["sf"] %> </h1>
 	<h1>Power Forward: <%=@data["pf"] %> </h1>
 	<h1>Center: <%=@data["c"] %> </h1>


 </body>
</html>


