<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>Team Name: <%= params[:name] %></h1>
    <br><br>
    <h2>Coach: <%= params[:coach] %>
    <br><br>
    Point Guard: <%= params[:pg] %>
    <br><br>
    Shooting Guard: <%= params[:sg] %>
    <br><br>
    Power Forward: <%= params[:pf] %>
    <br><br>
    Small Forward: <%= params[:sf] %>
    <br><br>
    Center: <%= params[:c] %></h2>

    
 


 </body>
</html>


