<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <h2><%= "Team Name:" + @name %></h2>
   <h2><%= @coach %></h2>
   <h2><%= @pg %></h2>
   <h2><%= @sg %></h2>
   <h2><%= @pf %></h2>
   <h2><%= @sf %></h2>
   <h2><%= @c %></h2>

 </body>
</html>
