<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%= @team_array[:name] %></h1>
   <h2> Coach: <%= @team_array[:coach] %><br />
       Point Guard: <%= @team_array[:pg] %><br />
       Shooting Guard: <%= @team_array[:sg] %><br />
       Power Forward: <%= @team_array[:pf] %><br />
       Small Forward: <%= @team_array[:sf] %> <br />
       Center: <%= @team_array[:c] %></h2>


 </body>
</html>
