<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%= @attributes[:name]%> </h1>
   <h2>Coach: <%= @attributes[:coach]%> </h2>
   <h2>Point Guard: <%= @attributes[:pg]%> </h2>
   <h2>Shooting Guard: <%= @attributes[:sg]%> </h2>
   <h2>Small Forward: <%= @attributes[:sf]%> </h2>
   <h2>Power Forward: <%= @attributes[:pf]%> </h2>
   <h2>Center: <%= @attributes[:c]%> </h2>

 </body>
</html>
