<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title><%="#{@team_name}"%></title>
 </head>
 <body>
   <h1>Team Name: <%="#{@team_name}"%></h1>
   <br/>
   <br/>
   Coach: <%="#{@coach}"%>
   <br/>
   <br/>
   Point Guard: <%="#{@pg}"%>
   <br/>
   <br/>
   Shooting Guard: <%="#{@sg}"%>
   <br/>
   <br/>
   Power Forward: <%="#{@pf}"%>
   <br/>
   <br/>
   Small Forward: <%="#{@sf}"%>
   <br/>
   <br/>
   Center: <%="#{@c}"%>
 </body>
</html>
