<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title> Basketball Team </title>
 </head>
 <body>
  <h1>Team Name: <%= @ag[:name] %></h1>
  <h1>Coach: <%= @ag[:coach]%></h1>
  <h1>Point Guard: <%= @ag[:pg]%></h1>
  <h1>Shooting Guard: <%= @ag[:sg]%></h1>
  <h1>Power Forward: <%= @ag[:pf]%></h1>
  <h1>Small Forward: <%= @ag[:sf]%></h1>
  <h1>Center: <%= @ag[:c]%></h1>

 </body>
</html>


