<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Basketball Team! </h1>
Team Name: <%=@name%>
Coach: <%=@coach%>
Point Guard: <%=@pg%>
Shooting Guard: <%=@sg%>
Power Forward: <%=@pf%>
Small Forward: <%=@sf%>
Center: <%=@c%>
 </body>
</html>
