<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 
    <h2>Team Name: <%= @team_name %></h2>
    <h3>Coach: <%= @coach %></h3>
    <h3>Point Guard: <%= @point_guard %></h3>
    <h3>Shooting Guard: <%= @shooting_guard %></h3>
    <h3>Small Forward: <%= @small_forward %></h3>
    <h3>Power Forward: <%= @power_forward %></h3>
    <h3>Center: <%= @center %></h3>
  
 </body>
</html>


