<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <h1><%= "Team Name: #{@new_team["name"]}" %></h1>
  <h2><%= "Coach: #{@new_team["coach"]}" %> </h2>
  <h2><%= "Point Guard: #{@new_team["pg"]}" %> </h2>
  <h2><%= "Shooting Guard: #{@new_team["sg"]}" %> </h2>
  <h2><%= "Small Forward: #{@new_team["sf"]}" %> </h2>
  <h2><%= "Power Forward: #{@new_team["pf"]}" %> </h2>
  <h2><%= "Center: #{@new_team["c"]}" %> </h2>

 </body>
</html>


