<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <h1>Team Name:</h1>
    <%=@name%>
    <h2>Coach:</h2>
    <%=@coach%>
    <h2>Point Guard:</h2>
    <%=@pg%>
    <h2>Shooting Guard:</h2>
    <%=@sg%>
    <h2>Power Forward:</h2>
    <%=@pf%>
    <h2>Small Forward:</h2>
    <%=@sf%>
    <h2>Center:</h2>
    <%=@c%>
 </body>
</html>
