<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%= @name %></h1>
   <h2>
     Coach: <%= @coach %><br>
     Point Guard: <%= @pg %><br>
     Shooting Guard: <%= @sg %><br>
     Small Forward: <%= @sf %><br>
     Power Forward: <%= @pf %><br>
     Center: <%= @c %><br>
   </h2>
 </body>
</html>
