<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <h1>Team Name: <%= @team_params[:name] %></h1>
  <h2>Coach: <%= @team_params[:coach] %></h2>
  <h2>Point Guard: <%= @team_params[:pg] %></h2>
  <h2>Shooting Guard: <%= @team_params[:sg] %></h2>
  <h2>Small Forward: <%= @team_params[:sf] %></h2>
  <h2>Power Forward: <%= @team_params[:pf] %></h2>
  <h2>Center: <%= @team_params[:c] %></h2>
 </body>
</html>


