<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <h1>Your New Team!</h1>
  <p>Team Name: <%= @new_team["name"]%></p>
  <p>Coach: <%= @new_team["coach"]%></p>
  <p>Point Guard: <%= @new_team["pg"]%></p>
  <p>Shooting Guard: <%= @new_team["sg"]%></p>
  <p>Power Forward: <%= @new_team["pf"]%></p>
  <p>Small Forward: <%= @new_team["sf"]%></p>
  <p>Center: <%= @new_team["c"]%></p>
 </body>
</html>
