<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <h1>Basketball Team!</h1>
   <!--Collect the users input into an array or hash and iterate over it-->
   Team Name: <%= @name %><br>
   Coach: <%= @coach %><br>
   Point Guard: <%= @pg %><br>
   Shooting Guard: <%= @sg %><br>
   Small Forward: <%= @sf %><br>
   Power Forward: <%= @pf %><br>
   Center: <%= @c %><br>
 </body>
</html>
