<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Basketball Team</title>
    </head>
    <body>
        <h1><%= "Team Name: #{@team[:name]}"%></h1>
        <h3><%= "Coach: #{@team[:coach]}" %></h3>
        <h3><%= "Point Guard: #{@team[:pg]}" %></h3>
        <h3><%= "Shooting Guard: #{@team[:sg]}" %></h3>
        <h3><%= "Small Forward: #{@team[:sf]}" %></h3>
        <h3><%= "Power Forward: #{@team[:pf]}" %></h3>
        <h3><%= "Center: #{@team[:c]}" %></h3>


    </body>
</html>


