<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1><p>Team Name: <%= params[:name] %></p></h1>

   <h2><p>Coach: <%= params[:coach] %></p></h2>
   <h2><p>Point Guard: <%= params[:pg] %></p></h2>
   <h2><p>Shooting Guard: <%= params[:sg] %></p></h2>
   <h2><p>Small Forward: <%= params[:sf] %></p></h2>
   <h2><p>Power Forward: <%= params[:pf] %></p></h2>
   <h2><p>Center: <%= params[:c] %></p></h2>


 </body>
</html>
