<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Basketball Team</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  </head>
  <body>
    <h1>Team Name: <%= "#{params[:name]}" %></h1>
    <h2>Coach: <%= "#{params[:coach]}" %></h2>
    <h2>Point Guard: <%= "#{params[:pg]}" %></h2>
    <h2>Shooting Guard: <%= "#{params[:sg]}" %></h2>
    <h2>Small Forward: <%= "#{params[:sf]}" %></h2>
    <h2>Power Forward: <%= "#{params[:pf]}" %></h2>
    <h2>Center: <%= "#{params[:c]}" %></h2>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
  </body>
</html>
