<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%= @new_name %></h1>
   <h2>Coach: <%= @new_coach %></h2>
   <h2>Point Guard: <%= @new_pg %></h2>
   <h2>Shooting Guard: <%= @new_sg %></h2>
   <h2>Small Forward: <%= @new_sf %></h2>
   <h2>Power Forward: <%= @new_pf %></h2>
   <h2>Center: <%= @new_center %></h2>


 </body>
</html>
